<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>List of My Art</title>
</head>
<body>
<div class="container">
    <h3>Art and Sculptures Directory</h3>
    <hr>
    <!-- Add Search box and button here -->
    <form action="#" th:action="@{/search}" th:object="${arts}" method="post">
        <input type="text" th:field="*{name}" placeholder="Enter a Name here"/>
        <label>Do I Have</label>
        <select th:field="*{ifHave}">
            <option th:value="'ALL'" th:text="All"></option>
            <option th:value="'Y'" th:text="Yes"></option>
            <option th:value="'N'" th:text="No"></option>
        </select>
        <p><input type="submit" value="Submit" class="btn btn-primary btn-sm mb-3" /> <input type="reset" value="Reset" class="btn btn-secondary btn-sm mb-3" /></p>
    </form>

    <!-- Add Radio  -->
    <table class=" table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Have</th>
            <th>Description</th>
            <th>Real</th>
            <th>Fake</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempArt: ${theArt}">
            <td th:text="${tempArt.name}"/>
            <td th:text="${tempArt.have}"/>
            <td th:text="${tempArt.desc}"/>
            <td>
                <a th:href="@{${tempArt.real}}" >
                    <img th:src="@{${tempArt.real}}" width="128" height="128"/>
                </a>
            </td>
            <td>
                <a th:href="@{${tempArt.fake}}" >
                    <img th:src="@{${tempArt.fake}}" width="128" height="128"/>
                </a>
            </td>
         </tbody>
        </table>

        </div>
    </body>
</html>